.section{
  color: #ffffff;
	height: 100vh;
  text-shadow: -2px 1px rgba(black, 0.1);
	display: flex;
  align-items: center;
  text-align: center;

  h1 {
    font-family: 'Montserrat', Montserrat, Helvetica;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.45rem;
  	font-size: 6.853em;
  }

  .red {
    color: #FF4056;
    font-weight: normal;
  }

  .bold{
    display: inline-block;
    will-change: transform;
  }

  .job {
		font-size: 1.4em;
		font-weight: 300;
		font-family: 'Lato', Helvetica, Times, serif;
		text-transform: uppercase;
		letter-spacing: 3.5px;
		white-space: nowrap;
  }

  .Typist {
    .Cursor--blinking {
      font-size: 2em;
      vertical-align: top;
    }
  }

  br {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .section {
    br {
      display: inline;
    }
  }
}
