.about{
  padding: 0;

  .left-about {
    background-color: rgb(255, 64, 86);
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 300px;

    .section-title{
      width: 100%;
      color: #fff;
      font-family: 'Satisfy', cursive;
      font-size: 65px;
    }
  }

  .right-about {
    background-color: #F1FFFA;
    text-align: center;
    padding-bottom: 30px;

    .container {
      margin-top: 30px;

      h1 {
        font-family: 'Lato', Helvetica, Times, serif;
        font-size: 30px;
        font-weight: 700;
      }

      .img-container {
        margin-top: 40px;
        text-align: center;
        img {
          width: 120px;
          height: 110px;
        }

        .travel-img{
          width: 110px;
        }
      }

      .description-container {
        width: 100%;

        .description{
          max-width: 230px;
          width: 90%;
          margin: 0 auto;
          text-align: justify;

          .strong {
            font-weight: 900;
          }

          a {
            font-weight: 900;
            color: rgba(0,0,0,.87);
          }
        }
      }

      .avatar{
        margin-bottom: 20px;
        .me {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
