.projectDialog{
  width: 70vw !important;
  max-width: 1300px;
  min-width: 320px;
  box-sizing: border-box;
  overflow-y: auto;

  .close {
    text-align: right;

    .material-icons {
      cursor: pointer;
    }
  }

  .content {
    box-sizing:border-box;
    overflow-y: auto;

    .title{
      text-align: center;
      margin-bottom: 30px;

      h1 {
        color: rgba(0,0,0,.87);
        font-family: 'Montserrat', Montserrat, Helvetica;
        line-height: 1.2;
        letter-spacing: -.45rem;
        font-size: 4.853em;
        font-weight: 700;
        margin: 0px;
      }
    }

    .desc {
      font-size: 15px;
      text-align: justify;
      padding: 10px;
    }

    .skills {
      margin-bottom: 30px;

      .skill-chip{
        margin-right: 10px;
      }

      .skill-chip:hover {
        // background-color: #6C7A89;
        opacity: 0.8;
        cursor: default;
      }
    }

    .images {
      max-height: inherit;

      .gallery {
        max-height: inherit;
      }
    }

    .video {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
    }

    .description {
      .client {
        text-align: justify;
        padding-left: 15px;

        h2 {
          color: #2980b9;
          font-family: 'Montserrat', Montserrat, Helvetica;
          line-height: 1.2;
          letter-spacing: -.45rem;
          font-size: 2.853em;
          font-weight: 700;
          margin: 0px;
        }
      }

      .description-section {
        margin-bottom: 30px;

        h2 {
          color: #2980b9;
          font-family: 'Montserrat', Montserrat, Helvetica;
          line-height: 1.2;
          letter-spacing: -.45rem;
          font-size: 4.853em;
          font-weight: 700;
          margin: 0px;
        }
      }
    }
  }
}
