.skills{
  height: 80vh;
  padding: 0;

  .left-skills {
    background-color: #fff;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;

    .section-title{
      width: 100%;
      color: grey;
      font-family: 'Satisfy', cursive;
      font-size: 65px;
    }
  }

  .right-skills {
    background-color: grey;
    overflow-y: scroll;
  }
}
