.skills {
  padding: 0;
  text-align: center;

  .left-skills {
    height: 440px;
    background-color: #fff;
    margin: 0;
    display: flex;
    align-items: center;

    .section-title {
      width: 100%;
      color: rgba(0, 0, 0, 0.87);
      font-family: "Satisfy", cursive;
      font-size: 65px;
    }
  }

  .right-skills {
    height: 440px;
    background-color: #f1fffa;
    display: flex;
    align-items: center;

    .container {
      width: 100%;
      margin: 0 auto;
      max-width: 850px;
    }
  }
}
