.button {
  display: block;
  margin-left: 50px;
  padding: 1em;
  font-size: 25px;
  font-family: 'Raleway', Arial;
  color: #b8b7ad;
  text-decoration: none;
  cursor: pointer;

  .route--active {
    font-weight: bold;
    text-decoration: underline;
  }

  .icon {
    vertical-align: text-bottom;
    margin-right: 10px;
  }
}

.button:hover, .button.route--active {
  color: #c94e50;
}
